# ignore everything
/*
.DS_Store
# But not these files...
# Which are the config we care about
!.zsh/
!.vim/
!.vimrc
!.zshrc
!.gitignore
!.dotfiles/
!.tmux.conf
# ...even if they are in subdirectories
