[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule ".vim/bundle/TeX-9"]
	path = .vim/bundle/TeX-9
	url = https://github.com/vim-scripts/TeX-9.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
