snippet if "IF statement" 
if (${1:condition}) {
    ${0}
}
endsnippet

snippet fo "FOR statement" 
for (${1:loop}) {
    ${0}
}
endsnippet

snippet el "ELSE statement" 
 else {
    ${0}
 }
endsnippet

snippet eif "ELSE IF"
 else (${1:condition}) {
	${0}
 }
endsnippet
